.dialog {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 200px;

    margin-top: 200px;

    align-items: center;
    justify-content: center;

    grid-template-areas: "a b" "a c";
}

.dialog .narva {
    grid-row-start: 1;
    grid-row-end: 3;

    align-content: center;
}

.dialog .speech {

    margin-top: 50px;

    display: flex;
    color: antiquewhite;

    align-items: center;
    text-align: justify;
    justify-content: center;
    
}

.dialog .btn {
    display: flex;
    color: antiquewhite;

    align-items: center;
    text-align: center;
    justify-content: center;
    
    cursor: pointer;
}

.dialog .btn ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dialog .btn li {
    padding: 10px;    
}

.dialog .btn a:hover {
    color: white;
}