.speech {
    display: grid;

    margin: 40px;
    margin-top: 0;

    grid-template-columns: 50% 50%;
    grid-template-areas: "a c" "b c" ;

}

.hi-logo {
    grid-area: c;

    margin: 0;
    padding: 0;
}

.hi-logo img {
    display: block;
    transform: scale(-1, 1);    
    width: 50%;
    margin: auto;
}

.question {
    grid-area: a;
    display: block;
    text-align: left;

    margin: 10%;

    font-size: 54px;
    font-weight: bold;
    color: aliceblue;
}

.answer {
    grid-area: b;

}

.answer a {
    display: block;
    border-radius: 50px;

    margin: 20px auto;
    padding: 10px;
    
    background-color: brown;

    width: 60%;

    font-size: 40px;
    color: aliceblue;
    text-align: center;

    cursor: pointer;
}

.answer a:hover {
    color: black;
}